<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome page</title>
</head>
<body>

<div align = "center" >
    <h2>Spring Boot project</h2>
    <h2>Done by Azemkulov Azizkhan Com-20 </h2>
    <h2>Laptop table with PostgreSQL</h2>

    <p>click on image</p>
    <a  th:href="@{'/getLaptops'}">
        <img src="https://st-0.akipress.org/st_all/bilim/9/1519540999.2.jpg" alt="the best university">
    </a>
</div>

</body>
</html>